<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.WmsOutboundDetailMapper">
    <update id="updateOutboundDetail">
        update wms_outbound_detail
        set
            real_quantity = #{realQuantity},item_status=#{itemStatus}
        where
            outbound_num=#{outboundNum} and item_num=#{itemNum}
    </update>

    <!--    <resultMap id="dataMap" type="com.wms.po.WmsOutboundDetail">-->
<!--        <id column="id" property="id"/>-->
<!--        <result column="outbound_num" property="outboundNum"/>-->
<!--        <result column="outbound_status" property="outboundStatus"/>-->
<!--        <result column="outbound_time" property="outboundTime"/>-->
<!--        <result column="create_by" property="createBy"/>-->
<!--        <result column="update_by" property="updateBy"/>-->
<!--        <result column="create_time" property="createTime"/>-->
<!--        <result column="update_time" property="updateTime"/>-->
<!--    </resultMap>-->


    <!--    <select id="queryRuleTreeByTreeId" resultMap="dataMap">-->
<!--        select *-->
<!--        from rule_tree-->
<!--        where tree_id = #{treeId}-->
<!--    </select>-->

    <select id="getByOutboundNum" resultType="com.wms.po.WmsOutboundDetail">
        select *
        from wms_outbound_detail
        where
        outbound_num = #{outboundNum}
    </select>
</mapper>